<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="ru">

<head>
    {%bootstrap_css%}
    {%bootstrap_javascript%}
    <title>Мои новости</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/font/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/font/font.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/style.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/responsive.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/jquery.bxslider.css" media="screen"/>
</head>

<body>
<div class="body_wrapper">
    <div class="center">
        {% block header %} {% include 'main/header.html' %} {% endblock %}
        <div class="container">
            <div class="content_area">
                {% if articles|length  != 0 %}
                {% if user.is_staff == True %}
                <h2 class="title">МОИ НОВОСТИ</h2>
                    {% else %}
                    <h2 class="title">МОИ ЗАЯВКИ</h2>
                {% endif %}
<!--pagination-->
        {% if total > 1 %}
        <nav aria-label="Навигация по списку новостей" pagination-border-color = 'red'>
            <div class="text-center">
            <ul class="pagination pagination-lg">
                {% if articles.has_previous %}
                <li class="page-item"><a class="page-link" href="?page={{ articles.previous_page_number }}"><span aria-hidden="true">&laquo;</span></a>
                </li>
                {% endif %}
                {% for p in articles.paginator.page_range %}
                {% if articles.number == p %}
                    <li class="page-item"><a class="page-link" style="color:black;"> {{ p }}</a></li>
                {% else %}
                    <li class="page-item"><a class="page-link" href="?page={{ p }}"> {{ p }}</a></li>
                {% endif %}
                {% endfor %}
                {% if articles.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ articles.next_page_number }}"><span aria-hidden="true">&raquo;</span></a></li>
                {% endif %}
            </ul>
            </div>
        </nav>
        {% endif %}
<!--end pagination-->
                {% for n in articles %}
                {% if n.image_set.all %}
                <hr>
                <div class="row">
                    <div class="col-lg-3">
                        <a href="{{ n.get_absolute_url }}">
                        {% for image in n.image_set.all %}
                            <img src="{{ image.image.url }}" style="margin:auto; height:auto; width:450px;" alt=""/></a>
                        {% endfor %}
                    </div>
                    <div class="col-lg-9">
                        <h4><strong><a href="{{ n.get_absolute_url }}">{{ n.title }}</a></strong></h4>
                        <p align="justify">{{ n.anouncement }}</p><br>
                        {% if request.user.id %}
                        {% if user.is_superuser == True %}
                        <div class="col-lg-7">
                            <p><a class="readmore" href="http://127.0.0.1:8000/admin/news/article/{{ n.id }}/change/"
                                  target="_blank">Редактировать новость в панели администратора...</a></p>
                        </div>
                        <div class="col-lg-5">
                            <p><a class="readmore" href="{% url 'news_update' n.pk %}">Редактировать новость на
                                сайте...</a></p>
                        </div>
                        {% elif user.is_staff == True %}
                        <div class="col-lg-5">
                            <p><a class="readmore" href="{% url 'news_update' n.pk %}">Редактировать новость...</a></p>
                        </div>
                        {% else %}
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
                {% endif %}
                <hr>
                {% if user.is_staff == True %}
                <p><small><strong>Просмотры: <font color="red">{{ n.get_views }}</font></strong></small></p>
                {% endif %}
                {% if n.status == True %}
                    <p><small><strong>Опубликовано: <font color="red">{{ n.status }}</font></strong></small></p>
                {% else %}
                    <p><small><strong>Опубликовано: {{ n.status }}</strong></small></p>
                {% endif %}
                {% endfor %}<br>
                {% else %}
                <div class="container-fluid">
                <div class="row">
                    {% if article.title == None %}
                        {% if user.is_staff == True %}
                            <div class="container" align="center">
                                <p><h1>Вы еще не создали ни одной новости.</h1></p>
                                <p align="center"><a class="btn btn-danger" href="{% url 'news_input' %}"> Создать первую?</a></p>
                            </div>
                        {% endif %}
                        {% if user.is_staff == False  %}
                            <div class="container" align="center">
                                <p><h1>Вы еще не создали ни одной заявки.</h1></p>
                                <p align="center"><a class="btn btn-danger" href="{% url 'news_request' %}"> Создать первую?</a></p>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                </div>
                {% endif %}
                <h2 class="title"></h2>
            </div>
            {% block footer %} {% include 'main/footer.html' %} {% endblock %}
        </div>
        <script type="text/javascript" src="{% static 'main/' %}assets/js/jquery-min.js"></script>
        <script type="text/javascript" src="{% static 'main/' %}assets/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{% static 'main/' %}assets/js/jquery.bxslider.js"></script>
        <script type="text/javascript" src="{% static 'main/' %}assets/js/selectnav.min.js"></script>
        <script type="text/javascript">
            selectnav('nav', {
                label: 'Меню',
                nested: true,
                indent: ''
            });
            selectnav('f_menu', {
                label: 'Меню',
                nested: true,
                indent: ''
            });
            $('.bxslider').bxSlider({
                mode: 'fade',
                captions: true
            });
        </script>
        <script src="https://kit.fontawesome.com/b91fb3443a.js" crossorigin="anonymous"></script>
        <script src="https://kit.fontawesome.com/b91fb3443a.js" crossorigin="anonymous"></script>
<!-- jQuery !-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
<!-- jQuery UI !-->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script>
        $(function() {
            $("#search_input").autocomplete({
                source: "search_auto/",
                select: function (event, ui) { //item selected
                    AutoCompleteSelectHandler(event, ui)
                },
                minLength: 2,
            });
        });

      function AutoCompleteSelectHandler(event, ui)
      {
        var selectedObj = ui.item;
      }
</script>
</body>
</html>