<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
{% load bootstrap5 %}
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="ru">

<head>
    {%bootstrap_css%}
    {%bootstrap_javascript%}
    <title>Новости</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/font/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/font/font.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/style.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/responsive.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/jquery.bxslider.css" media="screen"/>
</head>

<body>
<div class="body_wrapper">
    <div class="center">
        {% block header %} {% include 'main/header.html' %} {% endblock %}
        <br>
        <div class="container-fluid">
            <div class="row">
                <form method="post">
                    {% csrf_token %}
                    <div class="col-lg-3">
                        <select class="form-control" name="author_filter">
                            <option value="0">Все авторы</option>
                            {% for author in author_list %}
                            <option value="{{ author.id }}" {% if selected == author.id %} selected {% endif %}>{{ author.account.nickname }}
                            </option>
                            {% endfor %}
                        </select><br>
                        <input class="btn btn-danger" type="submit" value="Выбрать">
                    </div>
                </form>
            </div>
        </div>
        <br>
        <h6 class="title"></h6>
        <div class="content_area">
            <h2 class="title">АСТРОНОМИЯ</h2>
            {% for n in news %}
            <div class="single_left_coloum floatleft"><a href="{{ n.get_absolute_url }}"><img
                    src="{% static 'news/' %}images/{{ n.id }}.jpg" alt=""/></a>
                <h3>{{ n.title }}</h3><br>
                <p>{{ n.anouncement }}</p>
                <p><strong><i><small>{{ n.author.account.nickname }}</small></i></strong></p>
                <p><strong><i><small>{{ n.date }}</small></i></strong></p>
                <!--                <a class="readmore" href="{{ n.get_absolute_url }}">читать...</a>-->
            </div>
            {% endfor %}
        </div>
        <!--                <div class="footer_top_area"></div>-->
        <h6 class="title"></h6>
        <div class="content_area">
            <div class="inner_footer_top">
                <div class="single_sidebar">
                    <div class="news-letter">
                        <h2><i class="fa-solid fa-envelope"> Подпишитесь на рассылку новостей</i></h2>
                        <form action="#" method="post">
                            {% csrf_token %}
                            <input type="text" placeholder="Имя" id="name"/>
                            <input type="text" placeholder="Адрес электронной почты" id="email"/>
                            <a href="#"><input class="btn btn-danger" type="submit"
                                               value="Подписаться"></a><br>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <h6 class="title"></h6>
        {% block footer %} {% include 'main/footer.html' %} {% endblock %}
    </div>
    <script type="text/javascript" src="{% static 'main/' %}assets/js/jquery-min.js"></script>
    <script type="text/javascript" src="{% static 'main/' %}assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'main/' %}assets/js/jquery.bxslider.js"></script>
    <script type="text/javascript" src="{% static 'main/' %}assets/js/selectnav.min.js"></script>
    <script type="text/javascript">
        selectnav('nav', {
            label: 'Меню',
            nested: true,
            indent: ''
        });
        selectnav('f_menu', {
            label: 'Меню',
            nested: true,
            indent: ''
        });
        $('.bxslider').bxSlider({
            mode: 'fade',
            captions: true
        });
    </script>
    <script src="https://kit.fontawesome.com/b91fb3443a.js" crossorigin="anonymous"></script>
</body>
</html>