<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
{% load bootstrap5 %}
{% load crispy_forms_tags %}
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="ru">

<head>
    {%bootstrap_css%}
    {%bootstrap_javascript%}
    <title>Создание новости</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/font/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/font/font.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/style.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/responsive.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/jquery.bxslider.css" media="screen"/>
</head>

<body>
<div class="body_wrapper">
    <div class="center">
        {% block header %} {% include 'main/header.html' %} {% endblock %}
        <div class="content_area">
            {% if user.is_staff == True %}
            <h2 class="title"></h2>
                {% else %}
                <h2 class="title">ПОДАТЬ ЗАЯВКУ НА СОЗДАНИЕ НОВОСТИ</h2>
            {% endif %}
            <div class="content_area">
                <div class="inner_footer_top">
                    <div class="single_sidebar">
                        <div class="news-letter">
                            <div class="container-fluid>">
                                <form method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {{ form.media }}
                                    {{ form|crispy }}<br><br>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <p><input class="btn btn-danger" type="submit" value="Отправить"></p>
                                        </div>
                                        <div class="col-lg-3">
                                            <a class="btn btn-danger" href="{% url 'news_index' %}">К списку новостей</a>
                                        </div>
                                        <div class="col-lg-3">
                                            <p><a class="btn btn-danger" href="{% url 'user_profile' %}">В профиль</a></p>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h6 class="title"></h6>
            {% block footer %} {% include 'main/footer.html' %} {% endblock %}
        </div>
    </div>
    <script type="text/javascript" src="{% static 'main/' %}assets/js/jquery-min.js"></script>
    <script type="text/javascript" src="{% static 'main/' %}assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{% static 'main/' %}assets/js/jquery.bxslider.js"></script>
    <script type="text/javascript" src="{% static 'main/' %}assets/js/selectnav.min.js"></script>
    <script type="text/javascript">
        selectnav('nav', {
            label: 'Меню',
            nested: true,
            indent: ''
        });
        selectnav('f_menu', {
            label: 'Меню',
            nested: true,
            indent: ''
        });
        $('.bxslider').bxSlider({
            mode: 'fade',
            captions: true
        });
    </script>
    <script src="https://kit.fontawesome.com/b91fb3443a.js" crossorigin="anonymous"></script>
</body>
</html>