<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
{% load bootstrap5 %}
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="ru">

<head>
    {%bootstrap_css%}
    {%bootstrap_javascript%}
    <title>{{ news.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/font/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/font/font.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/style.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/responsive.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/jquery.bxslider.css" media="screen"/>
    <script src="https://kit.fontawesome.com/b91fb3443a.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="body_wrapper">
    <div class="center">
        {% block header %} {% include 'main/header.html' %} {% endblock %}
        <div class="container-fluid">
        <h1>{{ news.title }}</h1>
        <h6 class="title"></h6>
        <h3>Автор: {{ news.author.account.nickname }}</h3>
        <h3>Дата публикации: {{ news.date.date }}</h3><br>
        </div>
        <h6 class="title"></h6>
<!--        <div class="slider_area">-->
<!--            <div class="slider">-->
<!--                <ul class="bxslider">-->
<!--                    {% for image in images %}-->
<!--                    <img src="{{ image.image.url }}" style="margin:auto; height:350px; width:980px;">-->
<!--                    {% endfor %}-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div><br>-->
<!--        <h6 class="title"></h6>-->
<!--            <p class="lead" align="justify">{{ news.anouncement }}</p>-->
<!--        <h6 class="title"></h6>-->
        <blockquote class="blockquote">
            <p align="justify">{{ news.text|safe }}</p>
        </blockquote>
        <br>
        <h6 class="title"></h6>
        <h3>Источник: <a href="{{ news.source }}">{{ news.sourcename }}</a></h3><br>
        <h6 class="title"></h6>
        <div class="row">
            <div class="col-lg-2">
                <a class="btn btn-danger" href="{% url 'home' %}">На главную</a>
            </div>
            <div class="col-lg-6">
                <a class="btn btn-danger" href="{% url 'news_index' %}">Вернуться к списку новостей</a>
            </div>
            {% if request.user.id %}
            {% if user.is_staff == True %}
            <div class="col-lg-2">
                <a class="btn btn-danger" href="http://127.0.0.1:8000/admin/news/article/{{ news.id }}/change/">Редактировать</a>
            </div>
            <div class="col-lg-2">
                <a class="btn btn-danger" href="{% url 'news_delete' news.pk %}">Удалить</a>
            </div>
            {% endif %}
            {% endif %}
        </div>
        <br>
        <h6 class="title"></h6>
        {% block footer %} {% include 'main/footer.html' %} {% endblock %}
    </div>
</div>
<script type="text/javascript" src="{% static 'main/' %}assets/js/jquery-min.js"></script>
<script type="text/javascript" src="{% static 'main/' %}assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'main/' %}assets/js/jquery.bxslider.js"></script>
<script type="text/javascript" src="{% static 'main/' %}assets/js/selectnav.min.js"></script>
<script type="text/javascript">
    selectnav('nav', {
        label: 'Меню',
        nested: true,
        indent: ''
    });
    selectnav('f_menu', {
        label: 'Меню',
        nested: true,
        indent: ''
    });
    $('.bxslider').bxSlider({
        mode: 'fade',
        captions: true
    });
</script>
</body>
</html>