<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
{% load bootstrap5 %}
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="ru">

<head>
    {%bootstrap_css%}
    {%bootstrap_javascript%}
    <title>{{ news.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/font/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/font/font.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/style.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/responsive.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/jquery.bxslider.css" media="screen"/>
    <script src="https://kit.fontawesome.com/b91fb3443a.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="body_wrapper">
    <div class="center">
        {% block header %} {% include 'main/header.html' %} {% endblock %}
        <h1>{{ news.title }}</h1>
        <h6 class="title"></h6>
        <div class="row">
            <div class="col-lg-8">
                <p><strong><i>Автор: <font color="red">{{ news.author.account.nickname }}</font></i></strong></p>
                <p><strong><i>Дата публикации: <font color="red">{{ news.date.date }}</font></i></strong></p>
            </div>

            {% if request.user.id %}
            {% if user.is_superuser == True %}
            <div class="col-lg-2">
                <a class="btn btn-danger" href="{% url 'news_update' news.pk %}">Редактировать</a>
            </div>
            <div class="col-lg-2">
                <a class="btn btn-danger" href="{% url 'news_delete' news.pk %}">Удалить</a>
            </div>
            {% endif %}
            {% endif %}
        </div>
        <h6 class="title"></h6>
        <blockquote class="blockquote">
            <p align="justify">{{ news.text|safe }}</p>
        </blockquote>
        <br>
        <h6 class="title"></h6>
        <p><strong><i>Источник: <a href="{{ news.source }}" target="_blank"><font color="red">{{ news.sourcename }}</a></font></i></strong></p><br>
        <h6 class="title"></h6>
        <div class="row">
            <div class="col-lg-2">
                <a class="btn btn-danger" href="{% url 'home' %}">На главную</a>
            </div>
            <div class="col-lg-2">
                <a class="btn btn-danger" href="{% url 'news_index' %}">К списку новостей</a>
            </div>
            {% if user.is_staff == True %}
            <div class="col-lg-2">
                <a class="btn btn-danger" href="{% url 'user_profile' %}">В профиль</a>
            </div>
            {% endif %}
        </div>
        <br>
        <h6 class="title"></h6>
        {% block footer %} {% include 'main/footer.html' %} {% endblock %}
    </div>
</div>
<script type="text/javascript" src="{% static 'main/' %}assets/js/jquery-min.js"></script>
<script type="text/javascript" src="{% static 'main/' %}assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'main/' %}assets/js/jquery.bxslider.js"></script>
<script type="text/javascript" src="{% static 'main/' %}assets/js/selectnav.min.js"></script>
<script type="text/javascript">
    selectnav('nav', {
        label: 'Меню',
        nested: true,
        indent: ''
    });
    selectnav('f_menu', {
        label: 'Меню',
        nested: true,
        indent: ''
    });
    $('.bxslider').bxSlider({
        mode: 'fade',
        captions: true
    });
</script>
<script src="https://kit.fontawesome.com/b91fb3443a.js" crossorigin="anonymous"></script>
<!-- jQuery !-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"> </script>
<!-- jQuery UI !-->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script>
        $(function() {
            $("#search_input").autocomplete({
                source: "search_auto/",
                select: function (event, ui) { //item selected
                    AutoCompleteSelectHandler(event, ui)
                },
                minLength: 2,
            });
        });

      function AutoCompleteSelectHandler(event, ui)
      {
        var selectedObj = ui.item;
      }
</script>
</body>
</html>