<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
{% load bootstrap5 %}
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="ru">

<head>
    {%bootstrap_css%}
    {%bootstrap_javascript%}
    <title>Новости нашей Галактики</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/font/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/font/font.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/style.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/responsive.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/jquery.bxslider.css" media="screen"/>
    <script src="https://kit.fontawesome.com/b91fb3443a.js"></script>
</head>
<body>

<div class="body_wrapper">
    <div class="center">
        {% block header %} {% include 'main/header.html' %} {% endblock %}<br>
        <h6 class="title"></h6>
        <div class="container" style="line-height:1.5;">
            <h1 style="text-align:center">Добро пожаловать на сайт &quot;Новости нашей Галактики&quot;!</h1>
            <hr/>
            <div style="text-align:justify"><span style="font-size:16px">&nbsp;&nbsp;&nbsp;&nbsp;Мы собираем и публикуем на сайте все интересные новости и события, произошедшие в космической сфере. Поделитесь новостями о космосе, полученными из других источников: зарегистрируйтесь на сайте, подайте заявку на публикацию заинтересовавшей вас новости (с указанием ссылки на источник). Мы обязательно ее рассмотрим и опубликуем, чтобы другие пользователи сайта могли узнать новое о космосе. Вы всегда можете добавить любую новость в избранное и наслаждаться чтением в любое удобное для вас время, не переходя по бесконечным ссылкам в сети интернет!  </span>
            </div>
            <hr/>
            <h2 style="text-align:center">Обзор функциональности сайта</h2>

            <div style="text-align:justify">
            </div>

            <ul>
                <li style="text-align:justify">
                    <div><span style="font-size:16px"><a href="{% url 'home' %}" class="link-underline-primary"><b>Фотогалерея</b></a> на главной странице с переходом на детальное описание новости.</span>
                    </div>
                </li>
                <li style="text-align:justify">
                    <div><span style="font-size:16px">Просмотр новостей на странице со <a href="{% url 'news_index' %}" class="link-underline-primary"><b>списком новостей</b></a>.</span></div>
                </li>
                <li style="text-align:justify">
                    <div><span style="font-size:16px">Чтение детального описания статей (для этого необходимо кликнуть по фото новости).</span></div>
                </li>
                <li style="text-align:justify">
                    <div><span style="font-size:16px">Поиск новостей по заголовку (строка поиска расположена в правой верхней части экрана).</span></div>
                </li>
                <li style="text-align:justify">
                    <div><span style="font-size:16px">Фильтр новостей по автору, категории (доступен в <a href="{% url 'news_index' %}" class="link-underline-primary"><b>списке новостей)</b></a>.</span></div>
                </li>
                <li style="text-align:justify">
                    <div><span style="font-size:16px">Отправка заявки на <a href="{% url 'news_subscribe' %}" class="link-underline-primary"><b>рассылку новостей</b></a>.</span></div>
                </li>
                <li style="text-align:justify">
                    <div><span style="font-size:16px"><a href="{% url 'registration' %}"><b>Регистрация</b></a> и <a href="{% url 'login' %}"><b>вход</b></a> в профиль.</span></div>
                </li>
                <li style="text-align:justify">
                    <div><span style="font-size:16px">Возможность подачи заявки на создание новости и добавление новостей в избранное после регистрации на сайте.</span>
                    </div>
            </ul>

            <hr/>

            <div style="text-align:justify"><span style="font-size:16px">&nbsp;&nbsp;&nbsp;&nbsp;Если вы обнаружите ошибку, неправильное отображение или сбой функциональности, пожалуйста, отправьте отчет с описанием каждой найденной проблемы, прикладывая сохраненные снимки экрана. Используйте <a href="{% url 'contact_page' %}" class="link-underline-primary"><b>форму обратной связи</b></a> на сайте.</span>
            </div>

            <hr/>
        </div>
    </div>
    <br>
    <div class="row">
    <div class="col-lg-6" align="center">
        <a class="readmore" href="{% url 'home' %}"><input class="btn btn-danger" type="submit"
                                                                              value="В галерею"></a>
    </div>
    <div class="col-lg-6" align="center">
        <a class="readmore" href="{% url 'news_index' %}"><input class="btn btn-danger" type="submit"
                                                                              value="Читать новости"></a>
    </div>
    </div>
    <div class="content_area">
        <h6 class="title"></h6>
    </div>


    {% block footer %} {% include 'main/footer.html' %} {% endblock %}
</div>
<script type="text/javascript" src="{% static 'main/' %}assets/js/jquery-min.js"></script>
<script type="text/javascript" src="{% static 'main/' %}assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'main/' %}assets/js/jquery.bxslider.js"></script>
<script type="text/javascript" src="{% static 'main/' %}assets/js/selectnav.min.js"></script>
<script type="text/javascript">
    selectnav('nav', {
        label: 'Меню',
        nested: true,
        indent: ''
    });
    selectnav('f_menu', {
        label: 'Меню',
        nested: true,
        indent: ''
    });
    $('.bxslider').bxSlider({
        mode: 'fade',
        captions: true
    });
</script>
<script src="https://kit.fontawesome.com/b91fb3443a.js" crossorigin="anonymous"></script>
<!-- jQuery !-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<!-- jQuery UI !-->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script>
    $(function() {
        $("#search_input").autocomplete({
            source: "search_auto/",
            select: function (event, ui) { //item selected
                AutoCompleteSelectHandler(event, ui)
            },
            minLength: 2,
        });
    });

  function AutoCompleteSelectHandler(event, ui)
  {
    var selectedObj = ui.item;
  }
</script>
</body>
</html>