{% load static %}

<div class="header_area">
    <div class="logo floatleft">
        <a href="http://127.0.0.1:8000/news/"><img src="{% static 'main/' %}images/logo.png" alt="Иконка"/></a>
    </div>
    <div class="social_plus_search floatright">
        <div class="social"></div>
        <div class="search">
            <form action="#" method="post" id="search_form">
                {% csrf_token %}
                <input type="text" id="s" placeholder="Поиск"/>
                <input type="submit" id="searchform" value="search"/>
                <input type="hidden" value="post" name="post_type"/>
            </form>
        </div>
    </div>
</div>
{% block sidebar %} {% include 'main/sidebar.html' %} {% endblock %}