<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
{% load bootstrap5 %}
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="ru">

<head>
    {%bootstrap_css%}
    {%bootstrap_javascript%}
    <title>Главная страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/font/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/font/font.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/style.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/responsive.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/jquery.bxslider.css" media="screen"/>
    <script src="https://kit.fontawesome.com/b91fb3443a.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="body_wrapper">
    <div class="center">
        {% block header %} {% include 'main/header.html' %} {% endblock %}

        <h1>NASA готовит к 2025 году еще один космический телескоп - SPHEREx</h1>
        <p>К апрелю 2025 года NASA планирует запустить новый космический телескоп. Он будет называться SPHEREx
            (аббревиатура от Spectro-Photometer for the History of the Universe, Epoch of Reionisation and Ices
            Explorer) и будет наблюдать Вселенную в инфракрасном свете, двигаясь по орбите вокруг Земли.</p>

        <p>Он имеет характерную форму, напоминающую по форме мегафон, благодаря конусообразным щитам, которые будут
            окружать его, защищая от света и тепла Солнца и Земли. Размер аппарата составляет примерно 2,6×3,2 м, он
            будет максимально легким, чтобы быстро и проворно перемещаться по орбите. В настоящее время его сборка
            ведется в лаборатории JPL в условиях "чистой комнаты".</p>

        <p>Основная цель миссии SPHEREx - понять, где зародилась вода и другие ключевые компоненты, необходимые для
            жизни. Для этого телескоп измерит содержание водяного льда в межзвездных облаках газа и пыли, в которых
            рождаются новые звезды и из которых могут формироваться планеты.</p>

        <p>Кроме того, SPHEREx будет изучать историю эволюции галактик, измеряя излучаемый ими свет. Эти измерения
            помогут понять, когда галактики начали формироваться и как менялось их формирование с течением времени.
            Наконец, отображая положение миллионов галактик относительно друг друга, SPHEREx будет искать новые ключи к
            разгадке того, как происходило первоначальное быстрое расширение, или инфляция, Вселенной через доли секунды
            после Большого взрыва.</p>
        <br>
        <h2>Характерные щиты SPHEREx</h2>
        <p>SPHEREx ведет наблюдения в инфракрасном диапазоне волн, который также называется тепловым излучением,
            поскольку все горячие объекты излучают его. Телескоп может также создавать инфракрасное излучение, которое
            будет мешать его детекторам, поэтому его необходимо держать на холоде, при температуре ниже -210 градусов
            Цельсия.</p>

        <p>Чтобы обеспечить такую низкую рабочую температуру, необходим V-образный радиатор: три конических зеркала,
            каждое в форме перевернутого зонтика, поставленные друг на друга. Каждое из них состоит из ряда клиньев,
            которые перенаправляют инфракрасное излучение таким образом, чтобы оно отражалось от промежутков между
            экранами и уходило в космос. При этом отводится тепло, переносимое при комнатной температуре через крепления
            аппарата, в которых находятся компьютер и электроника.</p>
        <br>
        <p>Общий внешний экран (фотонный экран) блокирует свет и тепло от Солнца и Земли, а зазоры между тремя конусами
            препятствуют проникновению тепла к телескопу. Внешняя часть экранов представляет собой алюминиевую фольгу,
            внутренняя — легкую, но прочную алюминиевую сотовую конструкцию.</p>
        <br>
        <h2>Телескоп и инфракрасный обзор</h2>
        <p>Сердцем SPHEREx является телескоп. Он собирает инфракрасное излучение от удаленных источников с помощью трех
            зеркал и шести детекторов. Телескоп наклоняется на своем основании таким образом, чтобы видеть как можно
            большую часть неба, оставаясь при этом под защитой фотонных экранов.</p>

        <p>Для проведения спектроскопии SPHEREx будет использовать фильтры, установленные над детекторами. Каждый из
            фильтров имеет радужный вид и состоит из нескольких сегментов, блокирующих все инфракрасные лучи, кроме
            одной определенной длины волны. Каждый объект, наблюдаемый SPHEREx, будет отображаться каждым сегментом, что
            позволит ученым увидеть конкретные длины инфракрасных волн, излучаемых этим объектом, будь то звезда или
            галактика. В общей сложности телескоп может наблюдать более 100 различных длин волн.</p>

        <p>Телескоп, построенный компанией Ball Aerospace в Боулдере (штат Колорадо), в мае прибыл в Калифорнийский
            технологический институт в Пасадене, где на него были установлены детекторы и V-образный излучатель. Затем,
            в JPL, инженеры прикрепили его к вибростолу, имитирующему вибрации, которые телескоп будет испытывать во
            время полета в космос. Наконец, телескоп вернулся в Калифорнийский технологический институт, где ученые
            подтвердили, что его зеркала по-прежнему находятся в фокусе после испытаний на вибрацию.</p>
        <br>
        <p>Источник: <a
                href="https://new-science.ru/nasa-gotovit-k-2025-godu-eshhe-odin-kosmicheskij-teleskop-spherex/">New-Science.ru</a></li>
        </p>
        {% block footer %} {% include 'main/footer.html' %} {% endblock %}
    </div>
</div>
<script type="text/javascript" src="{% static 'main/' %}assets/js/jquery-min.js"></script>
<script type="text/javascript" src="{% static 'main/' %}assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'main/' %}assets/js/jquery.bxslider.js"></script>
<script type="text/javascript" src="{% static 'main/' %}assets/js/selectnav.min.js"></script>
<script type="text/javascript">
    selectnav('nav', {
        label: '-Navigation-',
        nested: true,
        indent: '-'
    });
    selectnav('f_menu', {
        label: '-Navigation-',
        nested: true,
        indent: '-'
    });
    $('.bxslider').bxSlider({
        mode: 'fade',
        captions: true
    });
</script>
</body>
</html>