<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
{% load bootstrap5 %}
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="ru">

<head>
    {%bootstrap_css%}
    {%bootstrap_javascript%}
    <title>Главная страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/font/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/font/font.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/style.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/responsive.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/jquery.bxslider.css" media="screen"/>
    <script src="https://kit.fontawesome.com/b91fb3443a.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="body_wrapper">
    <div class="center">
        {% block header %} {% include 'main/header.html' %} {% endblock %}

        <h1>Столкнется ли белый карлик с нашей Солнечной системой?</h1>
        <p>В прошлом году астрономическое сообщество было потрясено тревожным прогнозом: белый карлик WD 0810-353,
            плотный звездный остаток, находится на пути к возможному столкновению с нашей Солнечной системой. Эта
            звезда, представляющая собой последнюю стадию эволюции звезды, похожей на Солнце, наблюдалась космическим
            телескопом Gaia, и ее траектория, как оказалось, проходила в опасной близости от нашей системы.</p>
        <br>
        <h2>Переоценка траектории</h2>
        <p>Однако последние наблюдения Очень большого телескопа (VLT) Европейской южной обсерватории опровергли этот
            прогноз. Команде удалось смоделировать магнитное поле белого карлика и определить его истинную траекторию.
            Оказалось, что WD 0810-353 все-таки не направляется к нашей Солнечной системе, и это открытие стало
            облегчением для человечества перед лицом перспективы космической катастрофы.</p>
        <br>
        <h2>Важность магнитного поля</h2>
        <p>Проанализировав поляризованный свет, излучаемый WD 0810-353, команда смогла определить его истинную
            траекторию и скорость. Стефано Баннуло, астроном из Армага и соавтор исследования, сказал: "Мы обнаружили,
            что скорость сближения, измеренная проектом Gaia, неверна, и предсказанная близкая встреча WD0810-353 с
            Солнцем на самом деле не произойдет. Более того, возможно, WD0810-353 вообще не направляется к Солнцу".</p>
        <br>
        <p>Хотя это открытие исключает возможность космического кризиса, оно также служит напоминанием об опасностях,
            таящихся в просторах космоса. По словам Багнуло, "на одну космическую опасность меньше, о которой мы должны
            беспокоиться!". Однако почти наверняка в будущем наша Солнечная система столкнется с другой звездой, и
            последствия такого столкновения остаются неизвестными.</p>
        <br>
        <p>Источник: <a
                href="https://new-science.ru/stolknetsya-li-belyj-karlik-s-nashej-solnechnoj-sistemoj/">New-Science.ru</a></li>
        </p>
        {% block footer %} {% include 'main/footer.html' %} {% endblock %}
    </div>
</div>
<script type="text/javascript" src="{% static 'main/' %}assets/js/jquery-min.js"></script>
<script type="text/javascript" src="{% static 'main/' %}assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'main/' %}assets/js/jquery.bxslider.js"></script>
<script type="text/javascript" src="{% static 'main/' %}assets/js/selectnav.min.js"></script>
<script type="text/javascript">
    selectnav('nav', {
        label: '-Navigation-',
        nested: true,
        indent: '-'
    });
    selectnav('f_menu', {
        label: '-Navigation-',
        nested: true,
        indent: '-'
    });
    $('.bxslider').bxSlider({
        mode: 'fade',
        captions: true
    });
</script>
</body>
</html>