<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
{% load bootstrap5 %}
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="ru">

<head>
    {%bootstrap_css%}
    {%bootstrap_javascript%}
    <title>Главная страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/font/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/font/font.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/style.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/responsive.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/jquery.bxslider.css" media="screen"/>
    <script src="https://kit.fontawesome.com/b91fb3443a.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="body_wrapper">
    <div class="center">
        {% block header %} {% include 'main/header.html' %} {% endblock %}

        <h1>Аппараты "Джеймс Уэбб" и "Хаббл" объединились для съемки красочного скопления галактик</h1>
        <p>В 4,3 млрд световых лет от Земли находится MACS0416 - пара сталкивающихся галактических скоплений. Эти два
            особенно массивных и крупных объекта сливаются, образуя еще более крупное скопление.</p>
        <br>
        <p>Вчера НАСА и ЕКА опубликовали снимок, на котором запечатлено это слияние, объединив инфракрасное изображение,
            полученное с помощью космического телескопа Джеймса Уэбба, и видимое изображение, полученное с помощью
            Хаббла. Полученное панхроматическое изображение представляет собой один из наиболее полных видов Вселенной в
            этом небольшом уголке космоса, когда-либо полученных на сегодняшний день.
            <br>
        <p>Используя данные обоих телескопов, изображение обнаруживает невероятное богатство деталей. Это и обилие
            галактик в скоплении, которые можно узнать по их размерам, яркости и желтовато-белому цвету. Но на снимке
            также видно множество других объектов, даже далеких и гораздо более красных. Многие из них мы наблюдаем
            только потому, что их свет отклоняется и усиливается под действием гравитации скопления на переднем плане,
            что объясняется явлением гравитационного линзирования.</p>
        <br>
        <h2>Сверхглубокий взгляд на Вселенную</h2>
        <p>Это скопление стало первым объектом серии сверхглубоких наблюдений Вселенной, полученных в рамках программы
            Frontier Fields, стартовавшей в 2014 году. В рамках этого проекта телескоп "Хаббл" проложил путь к поиску
            самых тусклых и молодых галактик, которые когда-либо наблюдались.</p>
        <br>
        <p>С помощью телескопа "Джеймс Уэбб" и его инфракрасного обзора этот взгляд в глубины космоса стал еще более
            мощным. Сочетание этих двух телескопов позволило проникнуть еще дальше в первозданную Вселенную.</p>
        <br>
        <p>Широкий диапазон длин волн, отсеиваемых приборами "Хаббл" и "Уэбб": самые короткие кодируются синим цветом,
            средние — зеленым, а самые длинные — красным, — создает особенно яркий и красочный пейзаж галактик. Эти
            цвета позволяют определить расстояние до источников: самые голубые находятся относительно близко, а самые
            красные, как правило, наиболее удалены. Некоторые галактики имеют красный цвет еще и потому, что содержат
            большое количество космической пыли, которая, как правило, поглощает голубой цвет звездного света.</p>
        <br>
        <h2>Поиск (и обнаружение) переходных объектов с помощью "Уэбба"</h2>
        <p>Новые наблюдения, проведенные с помощью телескопа "Джеймс Уэбб", преследовали конкретную цель: поиск
            объектов, яркость которых изменяется с течением времени, так называемых переходных объектов. Для этого
            исследовательская группа объединила три эпохи наблюдений с разницей в несколько недель и четвертую эпоху,
            полученную от исследовательской группы CANUCS (CAnadian NIRISS Unbiased Cluster Survey). Они выявили 14
            переходных процессов:</p>
        <p>
        <ul>
            <li>Двенадцать из них расположены в трех галактиках, сильно увеличенных гравитационным линзированием, и,
                вероятно, представляют собой одиночные звезды или многочисленные системы звезд.
                Остальные две расположены в фоновых галактиках при более умеренном увеличении и, вероятно, являются
                сверхновыми.
            </li>
            <li>Среди этих объектов особенно выделяется один. Расположенный в галактике, существовавшей около 3 млрд.
                лет
                после Большого взрыва, он был увеличен в результате гравитационного линзирования по меньшей мере в 4000
                раз.
                Команда назвала ее Мотра (монстр) из-за ее "чудовищной природы", которая одновременно является и
                чрезвычайно
                яркой, и чрезвычайно увеличенной.
            </li>
        </ul>
        </p>
        <br>
        <p>Мотра присоединилась к другой линзирующей звезде, которую исследователи ранее идентифицировали и назвали
            Годзиллой. И Годзилла, и Мотра — гигантские чудовища, известные в японском кинематографе как кайдзю.</p>
        <br>
        <h2>Светящееся чудовище, увеличенное скрытой линзой</h2>
        <p>Ученые были удивлены тем, что Мотра была видна даже в наблюдениях Хаббла, сделанных девятью годами ранее. Это
            было особенно необычно, поскольку для такого увеличения звезды необходимо очень четкое соответствие между
            скоплением галактик на переднем плане и звездой на заднем плане. Взаимные движения звезды и скопления должны
            были в конечном счете устранить такое выравнивание.</p>
        <br>
        <p>Наиболее вероятное объяснение заключается в том, что внутри скопления на переднем плане имеется
            дополнительный объект, который увеличивает звезду. Предполагается, что его масса в 10 000 - 1 млн. раз
            больше массы Солнца. Однако точная природа этой второй линзы в настоящее время остается неизвестной. Не
            исключено, что это шаровое скопление, слишком тусклое для прямого наблюдения "Уэббом".</p>
        <br>
        <p>Однако обнаружение такого большого количества переходных процессов за относительно короткий промежуток
            времени позволяет ученым предположить, что регулярный мониторинг с помощью "Уэбба" может обеспечить
            обнаружение еще многих переходных процессов в этом скоплении и других подобных ему.</p>
        <br>
        <p>Источник: <a
                href="https://new-science.ru/apparaty-dzhejms-uebb-i-habbl-obedinilis-dlya-semki-krasochnogo-skopleniya-galaktik/">New-Science.ru</a></li>
        </p>
        {% block footer %} {% include 'main/footer.html' %} {% endblock %}
    </div>
</div>
<script type="text/javascript" src="{% static 'main/' %}assets/js/jquery-min.js"></script>
<script type="text/javascript" src="{% static 'main/' %}assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'main/' %}assets/js/jquery.bxslider.js"></script>
<script type="text/javascript" src="{% static 'main/' %}assets/js/selectnav.min.js"></script>
<script type="text/javascript">
    selectnav('nav', {
        label: 'Меню',
        nested: true,
        indent: ''
    });
    selectnav('f_menu', {
        label: 'Меню',
        nested: true,
        indent: ''
    });
    $('.bxslider').bxSlider({
        mode: 'fade',
        captions: true
    });
</script>
</body>
</html>