<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
{% load bootstrap5 %}
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="ru">

<head>
    {%bootstrap_css%}
    {%bootstrap_javascript%}
    <title>Главная страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/font/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/font/font.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/style.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/responsive.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/jquery.bxslider.css" media="screen"/>
    <script src="https://kit.fontawesome.com/b91fb3443a.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="body_wrapper">
    <div class="center">
        {% block header %} {% include 'main/header.html' %} {% endblock %}

        <h1>Обнаружена первая в истории протозвезда, покидающая место своего рождения</h1>
        <p>Впервые удалось наблюдать, как протозвезда делает первые шаги из газового облака, в котором она образовалась.
            Результат, полученный при изучении области звездообразования, позволит лучше понять механизм, приводящий к
            удалению звезд от места их рождения, а следовательно, и распределение звезд внутри галактик.</p>
        <br>
        <p>Открытие было сделано в ходе наблюдательной кампании ATOMS. Цель этой кампании — детальное изучение областей
            звездообразования для лучшего понимания процессов, приводящих к формированию звезд, и характеристик среды, в
            которой они образуются. Для этого использовался радиоинтерферометр ALMA (Atacama Large
            Millimiter/submillimetre Array).</p>
        <br>
        <h2>Убегающая протозвезда</h2>
        <p>Анализируемая область звездообразования называется G352.63-1.07. Для ее изучения использовались эмиссионные
            линии некоторых молекул, встречающихся в областях звездообразования. На рисунке ниже показано изображение,
            полученное с помощью ALMA по эмиссионным линиям молекулы H13CO.</p>
        <br>
        <p>Движение протозвезды в области G352.63-1.07 было получено путем измерения красного смещения эмиссионных линий
            различных молекул, т.е. красного смещения линий, вызванного удаляющимися источниками света вследствие
            расширения Вселенной. Полученные данные показывают, что разница скоростей протозвезды и газового облака
            составляет - 2 км/с вдоль линии зрения. Это означает, что протозвезда приближается к нам с большей
            скоростью, чем газовое облако - 2 км/с. Направление, в котором движется протозвезда, показано на рисунке
            красной стрелкой, а различные движения газового облака — синими стрелками. Из них хорошо видно, как звезда
            удаляется от молекулярного газового облака, увлекая за собой часть газа в облаке. Материал, который следует
            за протозвездой, показан двумя серыми нитями, которые начинаются от облака и присоединяются к протозвезде.
            Сопоставив скорость протозвезды и расстояние до места образования, было рассчитано, что начало этого бегства
            произошло около 4000 лет назад.</p>
        <br>
        <h2>Почему произошло бегство?</h2>
        <p>Кроме того, была рассчитана кинетическая энергия протозвезды, равная примерно 3,5 × 1044 эрг. Это ключевой
            параметр для понимания того, какой механизм инициировал бегство протозвезды. Из всех возможных механизмов,
            предложенных для объяснения этого явления, "коллапс газовой нити" - единственный, который может обеспечить
            рассчитанную кинетическую энергию.</p>
        <br>
        <p>"Коллапс газовой нити" является фундаментальным процессом в эволюции молекулярных облаков, в которых
            образуются звезды. После возмущения часть облака начинает разрушаться под преобладающим действием
            гравитации. Гравитация преодолевает внутреннее давление газа, в результате чего область начинает
            сжиматься.</p>
        <br>
        <p>В процессе коллапса вещество стремится сконцентрироваться вдоль линий магнитного поля или уже существующих
            нитевидных структур в молекулярном облаке. Таким образом, образуется более плотная нить газа. В ядре нити
            плотность продолжает расти, что приводит к образованию более мелких структур, таких как протозвезды или даже
            зрелые звезды. Этот процесс лежит в основе звездообразования в молекулярных облаках.</p>
        <br>
        <p>Согласно гипотезе данного исследования, протозвезда должна была приобрести всю кинетическую энергию,
            необходимую для выхода, уже во время коллапса газовой нити, из которой она образовалась. При этом коллапс
            должен был происходить асимметрично: нить, из которой возникла протозвезда, была изогнута в нашу сторону.
            Асимметрия коллапса обеспечила бы кинетическую энергию, необходимую для отталкивания протозвезды от места ее
            образования и запуска ее в межзвездное пространство.</p>
        <br>
        <h2>Почему это открытие так важно?</h2>
        <p>На сегодняшний день многие теоретические исследования улучшили наше понимание динамики и эволюции
            звездообразующих областей. Тем не менее еще ни разу протозвезда не наблюдалась "вживую", когда она покидает
            область своего формирования.</p>
        <br>
        <p>Это новое открытие поможет ученым понять различные механизмы, происходящие внутри областей
            звездообразования, а также процессы, приводящие к уходу звезд из этих областей.</p>
        <br>
        <p>Понимание этих механизмов может помочь лучше объяснить распределение звезд внутри галактик и вблизи областей
            звездообразования.</p>
        <br>
        <p>Источник: <a
                href="https://new-science.ru/obnaruzhena-pervaya-v-istorii-protozvezda-pokidajushhaya-mesto-svoego-rozhdeniya"> New-Science.ru</a></li>
        </p>
        {% block footer %} {% include 'main/footer.html' %} {% endblock %}
    </div>
</div>
<script type="text/javascript" src="{% static 'main/' %}assets/js/jquery-min.js"></script>
<script type="text/javascript" src="{% static 'main/' %}assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'main/' %}assets/js/jquery.bxslider.js"></script>
<script type="text/javascript" src="{% static 'main/' %}assets/js/selectnav.min.js"></script>
<script type="text/javascript">
    selectnav('nav', {
        label: '-Navigation-',
        nested: true,
        indent: '-'
    });
    selectnav('f_menu', {
        label: '-Navigation-',
        nested: true,
        indent: '-'
    });
    $('.bxslider').bxSlider({
        mode: 'fade',
        captions: true
    });
</script>
</body>
</html>