<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
{% load bootstrap5 %}
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="ru">

<head>
    {%bootstrap_css%}
    {%bootstrap_javascript%}
    <title>Главная страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/font/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/font/font.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/style.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/responsive.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/jquery.bxslider.css" media="screen"/>
    <script src="https://kit.fontawesome.com/b91fb3443a.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="body_wrapper">
    <div class="center">
        {% block header %} {% include 'main/header.html' %} {% endblock %}

        <h1>Открытие цикла продолжительностью 27,5 миллионов лет, влияющего на основные геологические события на
            Земле</h1>
        <p>Исследователи определили цикл продолжительностью 27,5 миллионов лет, обнаруживающий закономерность в крупных
            геологических событиях, происходящих на Земле, таких как извержения вулканов. Это открытие, ставшее
            результатом углубленного изучения геологических данных, предполагает синхронизацию земных явлений в
            беспрецедентном временном масштабе. Земля — это динамическая система, в которой существуют геологические
            ритмы, о которых долгое время никто не подозревал. За последние пятьдесят лет ученые предположили
            существование циклов, определяющих крупные геологические события, такие как извержения вулканов и массовые
            вымирания, как на континентах, так и в морской среде, которые происходят в течение периодов от 26 до 36 млн.
            лет. Однако первые исследования, направленные на установление связей в геологической летописи, были
            затруднены проблемами точной датировки этих событий, что долгое время сдерживало проведение глубокого
            количественного анализа в этой области.</p>
        <br>
        <p>В 2021 г. геологи из Нью-Йоркского университета обнаружили интригующее явление: наша планета следует
            геологическому циклу продолжительностью 27,5 млн. лет — своего рода земной "пульс", которым отмечаются
            основные события в ее истории. Исследование опубликовано в журнале Geoscience Frontiers.</p>
        <br>
        <h2>Геологический цикл, определяющий ключевые события</h2>
        <p>В последнее время были значительно усовершенствованы методы радиоизотопного датирования, а также изменена
            шкала геологического времени, что позволило получить новые данные о хронологии событий прошлого. Группа
            исследователей под руководством Майкла Рампино провела тщательный анализ этих геологических данных. Изучив
            89 крупных геологических событий, четко датированных периодом в 260 млн. лет, они заметили поразительную
            тенденцию: эти события не распределены равномерно по этому периоду, а сконцентрированы в группы, или "пики",
            расположенные с интервалом в 27,5 млн. лет.</p>
        <br>
        <p>Команда авторов пишет в своей работе: "Эти события включают периоды морского и неморского вымирания, крупные
            океанические бескислородные явления, континентальные наводнения и извержения базальтов, колебания уровня
            моря, глобальные импульсы внутриплитного магматизма и периоды изменений в скорости расширения морского дна и
            реорганизация пластин". Другими словами, полученные результаты свидетельствуют о том, что эти явления не
            являются случайными или изолированными, а представляют собой часть более широкого ритмичного геологического
            цикла. Самое последнее из этих явлений произошло около 7 млн. лет назад. Если эта закономерность сохранится,
            то это будет означать, что следующая серия крупных геологических событий, или следующий "ритм" Земли, может
            произойти не ранее чем через 20 млн. лет.</p>
        <br>
        <h2>Каковы возможные причины этого цикла?</h2>
        <p>Открытие геологического цикла продолжительностью 27,5 млн. лет вызвало большой интерес в научном сообществе,
            особенно в отношении возможных причин этого явления. Одна из основных гипотез заключается в том, что этот
            цикл может быть связан с внутренними процессами на планете: ключевую роль в регулировании этого цикла могут
            играть движения и взаимодействия тектонических плит, а также сложная динамика мантии Земли. Эти внутренние
            процессы, хотя и протекают медленно и часто незаметно для человека, могут накапливаться и периодически
            проявляться в виде крупных геологических событий.</p>
        <br>
        <p>В то же время другие исследователи ищут объяснения в космосе. Они изучают астрономические циклы, такие как
            орбитальные движения Земли в Солнечной системе и ее взаимодействие в Галактике. Эти космические циклы могут
            оказывать тонкое, но значительное влияние на геологические процессы на Земле, хотя точный механизм этого
            влияния еще не выяснен.</p>
        <br>
        <p>Эти гипотезы, несмотря на различия в подходах, сходятся в том, что ставят под сомнение некоторые
            предвзятые представления в геологии. Майкл Рампино в своем пресс-релизе отмечает: "Многие геологи считают,
            что геологические события случайны во времени. Однако наше исследование предоставляет статистические
            доказательства наличия общего цикла, что позволяет предположить, что эти геологические события коррелируют,
            а не являются случайными". Другими словами, они являются частью более крупной периодической закономерности, которая может
            координироваться как внутренними, так и внешними по отношению к Земле силами.</p>
        <br>
        <p>Источник: <a
                href="https://new-science.ru/otkrytie-cikla-prodolzhitelnostju-27-5-millionov-let-vliyajushhego-na-osnovnye-geologicheskie-sobytiya-na-zemle/">New-Science.ru</a></li>
        </p>
        {% block footer %} {% include 'main/footer.html' %} {% endblock %}
    </div>
</div>
<script type="text/javascript" src="{% static 'main/' %}assets/js/jquery-min.js"></script>
<script type="text/javascript" src="{% static 'main/' %}assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'main/' %}assets/js/jquery.bxslider.js"></script>
<script type="text/javascript" src="{% static 'main/' %}assets/js/selectnav.min.js"></script>
<script type="text/javascript">
    selectnav('nav', {
        label: 'Меню',
        nested: true,
        indent: ''
    });
    selectnav('f_menu', {
        label: 'Меню',
        nested: true,
        indent: ''
    });
    $('.bxslider').bxSlider({
        mode: 'fade',
        captions: true
    });
</script>
</body>
</html>