<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% load static %}
{% load bootstrap5 %}
<html xmlns="http://www.w3.org/1999/xhtml">
<html lang="ru">

<head>
    {%bootstrap_css%}
    {%bootstrap_javascript%}
    <title>Главная страница</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/font/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/font/font.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/bootstrap.min.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/style.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/responsive.css" media="screen"/>
    <link rel="stylesheet" type="text/css" href="{% static 'main/' %}assets/css/jquery.bxslider.css" media="screen"/>
    <script src="https://kit.fontawesome.com/b91fb3443a.js" crossorigin="anonymous"></script>
</head>
<body>
<div class="body_wrapper">
    <div class="center">
        {% block header %} {% include 'main/header.html' %} {% endblock %}

        <h1>Телескоп "Джеймс Уэбб" обнаружил самый удаленный двойник Млечного Пути</h1>
        <h6 class="title"></h6>
        <p>Группа астрономов объявила об идентификации далекой спиральной галактики, получившей название ceers-2112. По
            своим характеристикам она схожа с нашим Млечным Путем. В ядре этого объекта имеется полоса звезд и газа, что
            ранее считалось признаком зрелой галактики. В то время, когда возраст Вселенной составлял всего два
            миллиарда лет, ceers-2112 показывает, что такие галактики уже существовали, что ставит под сомнение
            существующие теоретические модели.</p>
        <br>
        <h2>Спиральные галактики</h2>
        <p>Спиральная галактика, подобно нашему Млечному Пути, — это тип галактики, характеризующийся плоской дисковой
            структурой со спиральными рукавами, закрученными вокруг центрального ядра. Спиральные рукава содержат
            большое количество звезд, газа и пыли, что придает объектам характерный спиральный вид. Некоторые из них,
            например Млечный Путь, имеют в центре звездный бар. Долгое время считалось, что эти галактические полосы
            формируются на более поздних этапах эволюции галактики, вероятно, через несколько миллиардов лет после
            Большого взрыва.</p>
        <br>
        <p>Более ранние наблюдения космического телескопа "Хаббл" также указывали на то, что галактики с самого начала
            существования Вселенной, как правило, реже демонстрируют бароподобные структуры, что подкрепляло идею о том,
            что эта особенность является результатом эволюции галактик в течение очень длительного периода времени.
            Однако недавнее открытие галактики ceers-2112 ставит эти представления под сомнение.</p>
        <br>
        <h2>"Аналог" Млечного Пути появился очень рано во Вселенной</h2>
        <p>Ceers-2112 была идентифицирована с помощью космического телескопа "Джеймс Уэбб". Этот достойный "преемник"
            "Хаббла", предназначенный для наблюдения Вселенной в инфракрасном диапазоне, способен собирать в шесть раз
            больше света, чем "Хаббл", что делает его особенно эффективным для наблюдения за очень далекими объектами.
            Повышенная способность собирать свет позволяет также обнаруживать более тонкие особенности далеких галактик,
            включая детали их структуры и морфологии. В случае с галактикой ceers-2112 наблюдение проводилось на красном
            смещении 3, что означает, что свет от галактики прошел путь в 11,7 млрд. лет, прежде чем достиг телескопа
            "Джеймс Уэбб". Полученные данные позволили астрономам обнаружить неожиданное присутствие внутри нее
            галактического бара. Таким образом, эта спиральная галактика свидетельствует о том, что объекты, подобные
            Млечному Пути, существовали уже на очень раннем этапе истории Вселенной, задолго до того, как, как
            считалось, наступило время формирования таких галактических баров. В результате это открытие опровергает
            наши теоретические модели и поднимает вопросы о физических условиях ранней Вселенной.</p>
        <br>
        <h2>Преувеличенное влияние</h2>
        <p>Данное исследование также помогло пролить свет на роль темной материи во Вселенной. В частности, телескоп
            "Джеймс Уэбб" позволил астрономам получить детальные изображения галактики ceers-2112. Проанализировав
            скорости вращения звезд в галактике, они смогли оценить массу ее галактического бара. То, как звезды
            движутся внутри галактики, позволяет получить информацию о распределении вещества внутри галактики. Затем
            исследователи использовали теоретические модели для моделирования формирования галактики ceers-2112 и
            понимания того, какой вклад внесли в ее создание темная и обычная материя. Подгонка этих моделей к данным
            наблюдений позволила оценить относительный вклад этих двух типов материи. В случае галактики ceers-2112
            темная материя, по-видимому, сыграла лишь незначительную роль в формировании галактического бара, который в
            основном состоял из обычной материи. Это открытие в очередной раз ставит под сомнение прежние теоретические
            модели, предполагавшие преобладание темной материи в формировании подобных галактических структур.
            Подробности исследования опубликованы в журнале Nature.</p>
        <br>
        <h6 class="title"></h6>
        <p>Источник: <a
                href="https://new-science.ru/teleskop-dzhejms-uebb-obnaruzhil-samyj-udalennyj-dvojnik-mlechnogo-puti/">New-Science.ru</a></li>
        </p>
        <h6 class="title"></h6>
        {% block footer %} {% include 'main/footer.html' %} {% endblock %}
    </div>
</div>
<script type="text/javascript" src="{% static 'main/' %}assets/js/jquery-min.js"></script>
<script type="text/javascript" src="{% static 'main/' %}assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'main/' %}assets/js/jquery.bxslider.js"></script>
<script type="text/javascript" src="{% static 'main/' %}assets/js/selectnav.min.js"></script>
<script type="text/javascript">
    selectnav('nav', {
        label: 'Меню',
        nested: true,
        indent: ''
    });
    selectnav('f_menu', {
        label: 'Меню',
        nested: true,
        indent: ''
    });
    $('.bxslider').bxSlider({
        mode: 'fade',
        captions: true
    });
</script>
</body>
</html>