{% load static %}

<div class="main_menu_area">
    <ul id="nav">
        <li><a href="{% url 'home' %}"><i class="fa-solid fa-house"> Главная</i></a>
            <ul>
                <li><a href="{% url 'contact_page' %}"><i class="fa-solid fa-envelope"> Страница обратной связи</i></a></li>
                {% if user.is_staff == True %}
                <li><a href="http://127.0.0.1:8000/admin" target="_blank"><i class="fa-solid fa-user-gear"> Панель
                    администратора</i></a></li>
                {% endif %}
            </ul>

        </li>
        <li><a href="{% url 'news_index' %}"><i class="fa-solid fa-bars"> Новости</i></a>
            <ul>
                <li><a href="{% url 'news_subscribe' %}"><i class="fa-solid fa-envelope"> Подписаться на рассылку
                    новостей</i></a></li>
            </ul>
        </li>
        {% if request.user.id %}
        <li><a href="{% url 'profile_update' %}"><i class="fa-solid fa-user"> Аккаунт_{{ user }}</i></a>
            <ul>
                <li><a href="{% url 'user_profile' %}"><i class="fa-solid fa-heart"> Избранное</i></a></li>
                {% if user.is_staff == True %}
                    <li><a href="{% url 'user_profile' %}"><i class="fa-solid fa-list"> Мои новости</i></a></li>
                    {% else %}
                        <li><a href="{% url 'user_profile' %}"><i class="fa-solid fa-list"> Мои заявки</i></a></li>
                {% endif %}
                {% if user.is_superuser == True %}
                    <li><a href="http://127.0.0.1:8000/admin/news/article/add/" target="_blank"><i class="fa-solid fa-wand-magic-sparkles"> Создать новость в панели администратора</i></a></li>
                    <li><a href="{% url 'news_input' %}"><i class="fa-solid fa-pen-nib"> Создать новость на сайте</i></a></li>
                    {% elif user.is_staff == True %}
                        <li><a href="{% url 'news_input' %}"><i class="fa-solid fa-pen-nib"> Создать новость</i></a></li>
                        {% else %}
                            <li><a href="{% url 'news_request' %}"><i class="fa-solid fa-bars"> Подать заявку на создание новости</i></a></li>
                {% endif %}
                <li><a href="{% url 'logout' %}"><i class="fa-solid fa-hand-point-up"> Выйти из профиля</i></a></li>
            </ul>
        </li>
        {% else %}
        <li><a href="{% url 'user_profile' %}"><i class="fa-solid fa-right-to-bracket"> Вход</i></a>
            <ul>
                <li><a href="{% url 'registration' %}"><i class="fa-solid fa-user-pen"> Регистрация</i></a></li>
            </ul>
        </li>
        <li>
        {% endif %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
        {% endfor %}
        {% endif %}
        </li>
    </ul>
</div>