{% load static %}

<div class="main_menu_area">
    <ul id="nav">
        <li><a href="http://127.0.0.1:8000/"><i class="fa-solid fa-house"> Главная</i></a></li>
        <li><a href="http://127.0.0.1:8000/news"><i class="fa-solid fa-bars"> Новости</i></a></li>

        <li><a href="#"><i class="fa-solid fa-user"></i></a>
            <ul>
                <li><a href="http://127.0.0.1:8000/user_profile"><i class="fa-solid fa-user"> Профиль</i></a>
                <li><a href="http://127.0.0.1:8000/news_input"><i class="fa-solid fa-pen"> Создать
                    статью</i></a></li>
                <li><a href="#"><i class="fa-solid fa-door-open"> Выход</i></a></li>
            </ul>
        </li>
        <li><a href="#"><i class="fa-solid fa-key"></i></a>
            <ul>
                <li><a href="http://127.0.0.1:8000/login"><i class="fa-solid fa-right-to-bracket"> Вход</i></a></li>
                <li><a href="http://127.0.0.1:8000/registration"><i class="fa-solid fa-user-pen">
                    Регистрация</i></a>
                </li>
            </ul>
    </ul>
</div>