{% load static %}

<div class="main_menu_area">
    <ul id="nav">
        <li><a href="http://127.0.0.1:8000/"><i class="fa-solid fa-house"> Домой</i></a></li>
        <li><a href="http://127.0.0.1:8000/news"><i class="fa-solid fa-bars"> Новости</i></a></li>
        <li><a href="http://127.0.0.1:8000/user_profile"><i class="fa-solid fa-user"> Профиль пользователя</i></a>
            <ul>
                <li><a href="http://127.0.0.1:8000/login"><i class="fa-solid fa-right-to-bracket"> Вход</i></a></li>
                <li><a href="http://127.0.0.1:8000/registration"><i class="fa-solid fa-user-pen"> Регистрация</i></a></li>
            </ul>
        </li>
    </ul>
</div>