{% load static %}

<div class="slider_area">
    <div class="slider">
        <ul class="bxslider">
            <li><a href="http://127.0.0.1:8000/news_1/"><img src="{% static 'main/' %}images/1.jpg" alt="" title="Обнаружена первая в истории протозвезда, покидающая место своего рождения"/></a></li>
            <li><a href="http://127.0.0.1:8000/news_2/"><img src="{% static 'main/' %}images/2.jpg" alt="" title="Открытие цикла продолжительностью 27,5 миллионов лет, влияющего на основные геологические события на Земле"/></a></li>
            <li><a href="http://127.0.0.1:8000/news_3/"><img src="{% static 'main/' %}images/3.jpg" alt="" title="Столкнется ли белый карлик с нашей Солнечной системой?"/></a></li>
        </ul>
    </div>
     <a class="readmore" href="http://127.0.0.1:8000/news/">читать больше новостей...</a>
</div>